<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="head">
    <meta charset="UTF-8">
    <title>Game over</title>
</head>
<body>
<div align="center">

    <h1 id="guessTitle">Guess the number game</h1>
    <h2 id="guessTitle2">Game Over</h2>

    <h3 id="resultMessage">Result Message Content</h3>
    <h3> <a id="restart" >Play Again</a></h3>
    <h3> <a id="home">Home</a></h3>

    <footer id="footer">
        <p>Created by Alan Skaev, alan.skaev.us@gmail.com</p>
    </footer>
</div>
</body>
</html>